# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [3]:
spaceship.shape

(8693, 14)

**Check for data types**

In [5]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [6]:
spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [9]:
spaceship = spaceship.dropna()

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [11]:
spaceship["Cabin"].nunique()

5305

In [13]:
spaceship["Cabin"].unique()

array(['B/0/P', 'F/0/S', 'A/0/S', ..., 'G/1499/S', 'G/1500/S', 'E/608/S'],
      dtype=object)

In [14]:
spaceship["Cabin"] = spaceship["Cabin"].str[0]

C:\Users\Fran\AppData\Local\Temp\ipykernel_9408\4196643384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spaceship["Cabin"] = spaceship["Cabin"].str[0]

In [16]:
spaceship["Cabin"].unique()

array(['B', 'F', 'A', 'G', 'E', 'C', 'D', 'T'], dtype=object)

- Drop PassengerId and Name

In [19]:
spaceship = spaceship.drop(columns=["PassengerId", "Name"])

- For non-numerical columns, do dummies.

In [21]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    6606 non-null   object
 1   CryoSleep     6606 non-null   object
 2   Cabin         6606 non-null   object
 3   Destination   6606 non-null   object
 4   Age           6606 non-null   float64
 5   VIP           6606 non-null   object
 6   RoomService   6606 non-null   float64
 7   FoodCourt     6606 non-null   float64
 8   ShoppingMall  6606 non-null   float64
 9   Spa           6606 non-null   float64
 10  VRDeck        6606 non-null   float64
 11  Transported   6606 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 625.8+ KB

In [22]:
spaceship

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,G,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,G,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,E,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,E,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [31]:
spaceship_dummies = pd.get_dummies(spaceship, columns=["HomePlanet", "CryoSleep", "Cabin", "Destination"], drop_first = False)

spaceship_dummies

,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,39.0,False,0.0,0.0,0.0,0.0,0.0,False,False,True,...,True,False,False,False,False,False,False,False,False,True
1,24.0,False,109.0,9.0,25.0,549.0,44.0,True,True,False,...,False,False,False,False,True,False,False,False,False,True
2,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,False,True,...,False,False,False,False,False,False,False,False,False,True
3,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,False,True,...,False,False,False,False,False,False,False,False,False,True
4,16.0,False,303.0,70.0,151.0,565.0,2.0,True,True,False,...,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,False,True,...,False,False,False,False,False,False,False,True,False,False
8689,18.0,False,0.0,0.0,0.0,0.0,0.0,False,True,False,...,False,False,False,False,False,True,False,False,True,False
8690,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,True,False,...,False,False,False,False,False,True,False,False,False,True
8691,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,False,True,...,False,False,False,True,False,False,False,True,False,False
8692,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,False,True,...,False,False,False,True,False,False,False,False,False,True

In [27]:
spaceship_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        6606 non-null   float64
 1   RoomService                6606 non-null   float64
 2   FoodCourt                  6606 non-null   float64
 3   ShoppingMall               6606 non-null   float64
 4   Spa                        6606 non-null   float64
 5   VRDeck                     6606 non-null   float64
 6   Transported                6606 non-null   bool
 7   HomePlanet_Earth           6606 non-null   bool
 8   HomePlanet_Europa          6606 non-null   bool
 9   HomePlanet_Mars            6606 non-null   bool
 10  CryoSleep_False            6606 non-null   bool
 11  CryoSleep_True             6606 non-null   bool
 12  Cabin_A                    6606 non-null   bool
 13  Cabin_B                    6606 non-null   bool
 14  Cabin_C                    6606 non-null   bool
 15  Cabin_D                    6606 non-null   bool
 16  Cabin_E                    6606 non-null   bool
 17  Cabin_F                    6606 non-null   bool
 18  Cabin_G                    6606 non-null   bool
 19  Cabin_T                    6606 non-null   bool
 20  Destination_55 Cancri e    6606 non-null   bool
 21  Destination_PSO J318.5-22  6606 non-null   bool
 22  Destination_TRAPPIST-1e    6606 non-null   bool
 23  VIP_False                  6606 non-null   bool
 24  VIP_True                   6606 non-null   bool
dtypes: bool(19), float64(6)
memory usage: 483.8 KB

In [32]:
columns_to_transform = ["Transported", "HomePlanet_Earth", "HomePlanet_Mars", "HomePlanet_Europa", "CryoSleep_False", "CryoSleep_True", "Cabin_A", "Cabin_B", "Cabin_C", "Cabin_D", "Cabin_E", "Cabin_F", "Cabin_G", "Cabin_T", "Destination_55 Cancri e", "Destination_PSO J318.5-22", "Destination_TRAPPIST-1e", "VIP"]

In [33]:
spaceship_dummies[columns_to_transform] = spaceship_dummies[columns_to_transform].applymap(lambda x: 1 if x else 0)

spaceship_dummies

C:\Users\Fran\AppData\Local\Temp\ipykernel_9408\1968790849.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  spaceship_dummies[columns_to_transform] = spaceship_dummies[columns_to_transform].applymap(lambda x: 1 if x else 0)

,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,39.0,0,0.0,0.0,0.0,0.0,0.0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
1,24.0,0,109.0,9.0,25.0,549.0,44.0,1,1,0,...,0,0,0,0,1,0,0,0,0,1
2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,16.0,0,303.0,70.0,151.0,565.0,2.0,1,1,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
8689,18.0,0,0.0,0.0,0.0,0.0,0.0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
8690,26.0,0,0.0,0.0,1872.0,1.0,0.0,1,1,0,...,0,0,0,0,0,1,0,0,0,1
8691,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
8692,44.0,0,126.0,4688.0,0.0,0.0,12.0,1,0,1,...,0,0,0,1,0,0,0,0,0,1

**Perform Train Test Split**

In [62]:
features = spaceship_dummies.drop(columns = ["Age"])

target = spaceship_dummies["Age"]

In [63]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state=0)

In [64]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [65]:
normalizer = MinMaxScaler()

In [66]:
normalizer.fit(X_train)

MinMaxScaler()

In [67]:
X_train_norm = normalizer.transform(X_train)

X_test_norm = normalizer.transform(X_test)

In [68]:
X_train_norm = pd.DataFrame(X_train_norm, columns = X_train.columns)
X_train_norm.head()

,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,0.00000,0.007916,0.000000,0.051276,0.000000,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.00131,0.000000,0.046111,0.016378,0.000049,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [69]:
X_test_norm = pd.DataFrame(X_test_norm, columns = X_test.columns)
X_test_norm.head()

,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0.0,0.0,0.000000,0.0,0.00000,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.000000,0.0,0.00000,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.00000,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.054775,0.0,0.07774,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [70]:
from sklearn.neighbors import KNeighborsRegressor

In [71]:
knn = KNeighborsRegressor(n_neighbors = 2)

In [72]:
knn.fit(X_train_norm, y_train)

KNeighborsRegressor(n_neighbors=2)

- Evaluate your model's performance. Comment it

In [73]:
knn.score(X_test_norm, y_test)

-0.15746964414650777